.app{
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  background-color: #F7F8FC;
  
}

.app_navbar{
  /* width: %; */
  /* margin: 0; */
  padding: 10px 30px;  
  border-bottom: 1px solid lightgray;
}

.app_outer{
  flex: 1;
  /* width: 100%; */
  overflow-x: auto;
  margin-left : 100px;
}   

.app_boards{
  min-width: fit-content;
  display: flex;
  gap: 25px;
}